.state{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}
.register{
    margin-top: 10px;
}
.h1{
    text-align: center;
}

.form{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}