.state{
    background-image: logo;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    background-image: ;
    background-color: aqua ;
      
}
.register{
    margin-top: 10px;
}
.h1{
    text-align: center;
}

.form{
    
    background-color: aqua ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.img{
    width: 30px;
    height: 5p0x;
    margin-top: 50px;
}

